{
  "bench": [],
  "teamA": [],
  "teamB": [],
  "team3A": [],
  "team3B": [],
  "team3C": [],
  "manifest": null,
  "tiensan": 0,
  "tiennuoc": 0,
  "teamThua": null,
  "activeVote": null,
  "lastUpdated": null
}
